form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 30px;
}

.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: left;
  }

  .new-expense__control_amount {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .new-expense__control_amount input {
    appearance: none;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #999;
    border-radius: 10px;
    border: 0;
  }
  
  .new-expense__control {
    display: flex;
    margin-bottom: 20px;
  }
  
  .new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }

  .new-expense__control img {
    width: 10%;
    padding: 5px;
    filter: invert(74%) sepia(4%) saturate(33%) hue-rotate(66deg) brightness(91%) contrast(94%);
  }
  
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 0;
    width: 80%;
    max-width: 100%;
    color: #aaa;
  }

  .new-expense__control input[type="date"]        ::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

  .new-expense__control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 0;
    width: 80%;
    max-width: 100%;
    appearance: none;
    color: #aaa
  }


  .new-expense__current {
    width:80%;
    margin-bottom: 1rem;
    
  }

  .new-expense__current .switch {
    position: relative;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
    width: 100%;
    height: 34px;
  }
  
  .new-expense__current input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  
  .new-expense__current .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 50px;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: -2rem;
    max-width: 60px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .new-expense__current .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .new-expense__current input:checked + .slider:before {
    background: linear-gradient(138deg, rgba(95,205,222,0.74) 0%, rgba(200,21,198,0.74) 54%, rgba(255,157,0,0.74) 100%);
  }

  .new-expense__current input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .new-expense__current input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
