.expenses-fixed__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.expenses-list {
    list-style: none;
    width: 100%;
    padding: 0;
  }
  
  .expenses-list__fallback {
    color: white;
    text-align: center;
  }

  .expenses-list__actions {
    max-width: min-content;
    align-self: end;
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }

  .expenses-list__actions:hover,
  .expenses-list__actions:active {
    background-color: #510674;
    border-color: #510674;
  }
  
