.incomesControls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}



  .incomesActions {
      text-align: right;
  }

  .incomesControls select:hover, input:hover {
    outline: 0;
    border-color: #888;
  }

  .incomesControlAmount {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .incomesControlAmount input {
    appearance: none;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #999;
    border: 0;
    border-radius: 10px;
    -webkit-appearance: none;
  }
  
  .incomesControl {
    display: flex;
    margin-bottom: 20px;
    max-height: 42px;
  }

  .incomesControl {
    display: flex;
    margin-bottom: 20px;
  }
  
  .incomesControl label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }

  .incomesControl img {
    width: 10%;
    padding: 5px;
    filter: invert(74%) sepia(4%) saturate(33%) hue-rotate(66deg) brightness(91%) contrast(94%);
  }
  
  .incomesControl input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 0;
    width: 80%;
    max-width: 100%;
    color: #aaa;
  }


  .incomesControl select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 0;
    width: 80%;
    max-width: 100%;
    appearance: none;
    color: #666;
    -webkit-appearance: none;
  }
