.personCardControl {
    display: flex;
    flex-direction: column;
}

.personCardImage {
    margin: 0;
}

.personCardContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width:100%;    
}

.personCardContainer figure {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    overflow: auto;
}


.personCardContainer img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.personcardProfile {
    width: 40px;
    height: 40px;
    border-radius: 1rem;
}

.personCardControlHomemates {
    padding-left: 20px;
    text-align: start;
}

