.personmanager__control {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.personmanager__control ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: left;
    margin-top: 10px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgba(165,0,168,0.5);
}

.personmanager__control figure {
    display: flex;
    margin: 0;
}

.personmanager__control figure img {
    margin-left: 10px;
}

.personmanager__control li {
    margin-top: 10px;
}

.personmanager__control img {
    width: 20px;
    margin-right: 10px;
}