.balanceCard {
    border-radius: 10px;
    background: var(--mid-blue);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 200px;
}

.balanceCardTitle {
    width: 100%;
    text-align: center;
    height: 55%;
}

.balanceCardTitle h2 {
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
}

.balanceCardTitle p {
    font-size: 40px;
    margin: 10px;
    margin-bottom: 20px;
}

.balanceCardInfo {
    display: flex;
}

.balanceCardInfo figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}


.balanceCardInfoInc {
    margin-right: 20px;
}

.balanceCardInfoExp {
    margin-left: 20px;
}
.balanceCardInfo img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    border: 0;
}

.balanceCardInfoDown {
    filter: invert(40%) sepia(92%) saturate(2284%) hue-rotate(325deg) brightness(101%) contrast(95%);
}

.balanceCardInfoUp {
    filter: invert(83%) sepia(24%) saturate(950%) hue-rotate(60deg) brightness(92%) contrast(86%);
}