.balanceCard {
  background: var(--mid-blue);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  margin: 0 10px;
  border-radius: 1rem;
}

.balanceCardTitle {
  width: 100%;
  text-align: center;
  height: 55%;
}

.balanceCardTitle h2 {
  font-size: 15px;
  margin: 0;
  margin-top: 10px;
}

.balanceCardTitle p {
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}

.balanceCardInfo {
  display: flex;
}

.balanceCardInfo figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 1rem;
  padding: 0 12px;
  background-color: rgba(var(--light-blue), 0.5);
}

.balanceCardInfoInc {
  margin-right: 20px;
}

.balanceCardInfoExp {
  margin-left: 20px;
}
.balanceCardInfo img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  filter: invert(100%) sepia(3%) saturate(502%) hue-rotate(259deg)
    brightness(114%) contrast(100%);
}
