@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

/* variables */

:root {
  --dark-blue: #21295c;
  --mid-blue: #087ca7;
  --light-blue: #48beff;
  --sea-green: #74d3ae;
  --light-grey: #c2c2c2;
  --dark-grey: #858585;
  --white: #fcf7f8;
  --light-sea-green: #a2dbfc;
  --rose: #c55969;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  /* padding: 20px;
  padding-bottom: 0;
  padding-top: 0; */
}
