@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

/* variables */

:root {
  --dark-blue: 33, 41, 92;
  --mid-blue: 8, 124, 167;
  --light-blue: 72, 190, 255;
  --sea-green: 116, 211, 174;
  --light-grey: 194, 194, 194;
  --dark-grey: 133, 133, 133;
  --white: 252, 247, 248;
  --light-sea-green: 162, 219, 252;
  --rose: 197, 89, 105;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  /* padding: 20px;
  padding-bottom: 0;
  padding-top: 0; */
}
