.transactionItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 5px 5px 10px 0px rgba(165,0,168,0.5);
}

.transactionItem img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    border: 2px solid;
    padding: 5px;
    margin: 10px;
}

.transactionItem figure {
    margin: 0;
    width: 60%;
    display: flex;
    align-items: center;
}


.transactionItem figcaption em {
    opacity: 0.5
}

.pending {
    opacity: 0.5;
}

.transactionItem .deleteContainer {
    justify-content: center;
    width:10%;
}

.transactionItem .deleteButton {
    width:25px;
    height: 25px;
    padding: 0;
    border: none;
}

.transactionsListDay {
    color: #666
}

.transactionItem div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 30%
}

.transactionItem p {
    margin: 0;
    width: 100%;
}