.backLinkContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px
  }

  .crossContainer {
    border: 1px solid #000;
    display: flex;
    padding: 0.5rem;
    border-radius: 50%
  }

  .crossContainer img {
    border-radius: 0;
    width: 20px;
}