.transactionItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 70px;
  margin: 5px;
  z-index: 10;
  border-radius: 1rem;
  transition: all ease 0.3s;
}

.transactionItem:hover {
  background: rgba(var(--light-blue), 0.5);
  font-weight: 900;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.transactionItem img {
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  /* border: 2px solid; */
  padding: 5px;
  margin: 10px;
}

.transactionItem figure {
  margin: 0;
  width: 60%;
  display: flex;
  align-items: center;
}

.transactionItem figcaption {
    text-align: start;
    text-transform: capitalize;
}

.transactionItem figcaption em {
  opacity: 0.5;
}

.pending {
  opacity: 0.5;
}

.transactionItem .deleteContainer {
  justify-content: center;
  width: 10%;
}

.transactionItem .deleteButton {
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
}

.transactionsListDay {
  color: #666;
  opacity: 0.6;
}

.amountContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.transactionItem p {
  margin: 0;
  width: 100%;
}
