.fixedContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.fixedExpItem {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.fixedExpTitle {
    width: 100%;
    display: flex;
    margin: 0;
}

.fixedExpItem img {
    width: 20px;
    margin-right: 10px;
}

.fixedExpDelInp {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fixedExpDelInp img {
    margin: 0;
    margin-left: 20px;
}

.fixedExpDelInp input {
    padding: 0;
    width: 50%;
    justify-self: flex-end;
    outline: none; 
    border: none;
    text-align: center;
    font-size: 20px;
}
