.mainHeader {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainHeader h1 {
    margin: 0;
    font-size: 20px;
    text-align:center;
}

.mainHeader .userProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 1rem;
}


.profileImgContainer img, img {
    border-radius: 0;
    width: 30px;
}

.crossContainer {
    border: 1px solid #000;
    display: flex;
    padding: 0.5rem;
    border-radius: 50%
}

.crossContainer img {
    border-radius: 0;
    width: 20px;
}