.main-header {
    border-radius: 10px;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header h1 {
    font-size: 20px;
    text-align:center;
}

.main-header .user-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-header img {
    border-radius: 0;
    width: 25px;
}