.layout {
    width:100vw;
    height: 100vh;
    max-height: 100vh;
    background: var(--header-button);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
}