footer {
  width: 100%;
}

.navbar {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/* .navbarAdd {
  width: 20%;
  display: flex;
  justify-content: center;
} */

.navbarAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background: var(--sea-green);
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
}

.navbarButtons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background: #fff;
}

.navbarButtons img {
  width: 20px;
}
