.save-button {
    text-align: center;
    position: fixed;
    bottom: 10px;
    width:90%;
  }

  .save-button button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    width: 100%;
    background: rgb(95,205,222);
    background: linear-gradient(138deg, rgba(95,205,222,1) 0%, rgba(200,21,198,1) 54%, rgba(255,157,0,1) 100%);
    color: #fff;
    border-radius: 12px;
    margin-right: 1rem;
  }