.transaction-toggle {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .transaction-toggle .switch {
    position: relative;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
    width: 100%;
    height: 34px;
  }

  .transaction-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .transaction-toggle .slider {
    position: absolute;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -2rem;
    max-width: 75%;
    height: 50px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .transaction-toggle .slider:before {
    position: absolute;
    content: "Income";
    border-radius: inherit;
    display: inline-block;
    vertical-align: middle;
    line-height: 38px;
    height: 42px;
    width: 50%;
    left: 4px;
    bottom: 2px;
    background: linear-gradient(138deg, rgba(95,205,222,0.74) 0%, rgba(200,21,198,0.74) 54%, rgba(255,157,0,0.74) 100%);
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .transaction-toggle input:checked + .slider:before {
    content: "Expense"
  }
  

  .transaction-toggle input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .transaction-toggle input:checked + .slider:before {
    -webkit-transform: translateX(94%);
    -ms-transform: translateX(94%);
    transform: translateX(94%);
  }