.transactionToggle {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .transactionToggle .switch {
    position: relative;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 50px;
  }

  .transactionToggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .transactionToggle .slider {
    position: absolute;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 1rem;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -2rem;
    max-width: 75%;
    height: 50px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .transactionToggle .slider:before {
    position: absolute;
    content: "Income";
    border-radius: inherit;
    display: inline-block;
    vertical-align: middle;
    line-height: 38px;
    height: 42px;
    width: 50%;
    left: 4px;
    bottom: 2px;
    background: rgb(var(--mid-blue));
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .transactionToggle input:checked + .slider:before {
    content: "Expense"
  }
  

  .transactionToggle input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .transactionToggle input:checked + .slider:before {
    -webkit-transform: translateX(94%);
    -ms-transform: translateX(94%);
    transform: translateX(94%);
  }